<?xml version="1.0" encoding="UTF-8" ?>


<suite name="我自己的接口测试套件">

    <test name="这些是测试模块">
        <classes>
            <class name="com.lin.test.CollectionTest"></class>
            <class name="com.lin.test.SearchTypeTest"></class>




        </classes>

    </test>

    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <!--<listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld" />-->
        <listener class-name="com.lin.utils.ExtentTestNGIReporterListener" />
    </listeners>

</suite>